<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home</title>
</head>
<body>

    <h2>Работа с базой данных.</h2>
    <h3>Для просмотра доступны следующие данные:</h3>
        <div>
            <a href="http://localhost:8080/watch/watchParent" text="1">База данных родителей</a>
        </div>
        <div>
            <a href="http://localhost:8080/watch/watchChildren" text="2">База данных детей</a>
        </div>
        <div>
            <a href="http://localhost:8080/watch/watchAddress" text="3">База данных адресов</a>
        </div>
        <div>
            <a href="http://localhost:8080/watch/watchSchool" text="4">База данных школ</a>
        </div>
        <div>
            <a href="http://localhost:8080/watch/watchDistrict" text="5">База данных районов</a>
        </div>
        <div>
            <p>------------------------------------------------------------------------</p>
        </div>
        <h3>Функционал для администраторов:</h3>
        <div>
            <a href="http://localhost:8080/write/writeParent" text="1">Добавить родителей в базу данных</a>
        </div>
        <div>
            <a href="http://localhost:8080/write/writeChildren" text="1">Добавить ребенка в базу данных</a>
        </div>
        <div>
            <a href="http://localhost:8080/write/updateAddress" text="1">Смена адреса проживания</a>
        </div>
        <div>
            <a href="http://localhost:8080/write/updateSchool" text="1">Смена учебного заведения</a>
        </div>
        <div>
            <p>------------------------------------------------------------------------</p>
        </div>
        <div>
            <a href="http://localhost:8080/logout" text="1">Выйти из системы и зайти под другим пользователем =></a>
        </div>


</body>
</html>