<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Parent Data Base</title>
</head>
<body>
    <table border="1">
        <caption>Информация из БД "Parent":</caption>
        <thead>
            <th>ID</th>
            <th>ФИО. Отец</th>
            <th>ФИО. Мать</th>
            <th>Адрес места жительства</th>
        </thead>
        <div th:each="parent : ${parents}">
            <tr>
                <td align="center" th:text="${parent.getId()}"></td>
                <td align="center" th:text="${parent.getFio_father()}"></td>
                <td align="center" th:text="${parent.getFio_mother()}"></td>
                <td align="center" th:text="${parent.getAddress().getAddress()}"></td>
            </tr>
        </div>
    </table>
    <div>
        <a href="http://localhost:8080/" text="1">Вернуться на домашнюю страницу =></a>
    </div>
    <div>
        <p>------------------------------------------------------------------------</p>
    </div>
    <div>
        <a href="http://localhost:8080/logout" text="1">Выйти из системы и зайти под другим пользователем =></a>
    </div>
</body>
</html>