<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Address Data Base</title>
</head>
<body>
    <table border="1">
        <caption>Информация из БД "Address":</caption>
        <thead>
            <th>ID</th>
            <th>Адрес</th>
            <th>Район</th>
            <th>Школа №</th>
        </thead>
        <div th:each="address : ${addresses}">
            <tr>
                <td align="center" th:text="${address.getId()}"></td>
                <td align="center" th:text="${address.getAddress()}"></td>
                <td align="center" th:text="${address.getDistrict().getDistrict_name()}"></td>
                <td align="center" th:text="${address.getSchool().getNumber()}"></td>
            </tr>
        </div>
    </table>
    <div>
        <a href="http://localhost:8080/" text="1">Вернуться на домашнюю страницу =></a>
    </div>
    <div>
        <p>------------------------------------------------------------------------</p>
    </div>
    <div>
        <a href="http://localhost:8080/logout" text="1">Выйти из системы и зайти под другим пользователем =></a>
    </div>
</body>
</html>